{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bjqEWgDVPe0"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">1. Game Of Thrones</h2>
            <p class="lead">Nine noble families wage war against each other in order to gain control over the
                mythical
                land of Westeros. Meanwhile, a force is rising after millenniums and threatens the existence of
                living
                men.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/game_of_thrones" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AL9zLctDJaU"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">2. Prison Break</h2>
            <p class="lead">An engineer installs himself in a prison he helped design, in order to save his falsely
                accused brother
                from a death sentence.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/prison_break" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featuretee-header">

</div>
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1j2sXLbzm9U"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">3. Vikings</h2>
            <p class="lead">Ragnar Lothbrok, a legendary Norse hero, is a mere farmer who rises up to become a
                fearless warrior and commander of the Viking tribes with the support of his equally ferocious
                family.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/vikings_2013" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XQS7JkQmlx8"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">4. Arrow</h2>
            <p class="lead">After mastering the skill of archery on a deserted island, multi-millionaire playboy Oliver
                Queen returns to his city to take on the vigilante persona of Arrow to fight crime and corruption.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/arrow" role="button">View details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jAy6NJ_D5vU"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">5. Marvel's The Daredevil</h2>
            <p class="lead">Matt Murdock manages to overcome the challenges that he faces due to him being blind
                since childhood and fights criminals as a lawyer and Daredevil.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/daredevil" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Yj0l7iGKh8g"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">6. The Flash</h2>
            <p class="lead">Barry Allen, a forensic scientist with the Central City police force, is struck by lightning
                in a freak accident. When he wakes up after nine months, he discovers that he can achieve great speeds.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/flash" role="button">View details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fvCdLmxnkj0"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">7. Money Heist</h2>
            <p class="lead">A criminal mastermind who goes by "The Professor" has a plan to pull off the biggest
                heist in recorded history -- to print billions of euros in the Royal Mint of Spain. To help him
                carry out the ambitious plan, he recruits eight people with certain abilities and who have
                nothing
                to lose. The group of thieves take hostages to aid in their negotiations with the authorities,
                who
                strategize to come up with a way to capture The Professor. As more time elapses, the robbers
                prepare
                for a showdown with the police</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/money_heist" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ndl1W4ltcmg"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">8. The Witcher</h2>
            <p class="lead">The witcher Geralt, a mutated monster hunter, struggles to find his place in a world in
                which people often prove more wicked than beasts.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_witcher" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VwOPA2upeCA"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">9. Gotham</h2>
            <p class="lead">Detective James Gordon is a new recruit assigned to investigate the murder of Thomas and
                Martha Wayne. The case acquaints him with the slain couple's son and future crusader, Bruce.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/gotham" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T3T-evQZiQo"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">10. Marvel's Agents of S.H.I.E.L.D.</h2>
            <p class="lead">Agent Phil Coulson leads a team of highly skilled agents from the global law-enforcement
                organisation known as S.H.I.E.L.D. Together, they combat extraordinary and inexplicable threats.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/marvels_agents_of_shield"
                    role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

{% endblock body %}