{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aOC8E8z_ifw"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">1. The Mandalorian</h2>
            <p class="lead">A lone gunfighter makes his way through the outer reaches of the galaxy, far from the
                authority of the New Republic.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_mandalorian" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bjqEWgDVPe0"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">2. Game of Thrones </h2>
            <p class="lead">Nine noble families wage war against each other in order to gain control over the
                mythical
                land of Westeros. Meanwhile, a force is rising after millenniums and threatens the existence of
                living
                men.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/game_of_thrones" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featuretee-header">

</div>
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1j2sXLbzm9U"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">3. Vikings</h2>
            <p class="lead">Ragnar Lothbrok, a legendary Norse hero, is a mere farmer who rises up to become a
                fearless warrior and commander of the Viking tribes with the support of his equally ferocious
                family.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/vikings_2013" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rga4rp4j5TY"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">4. Once Upon a Time </h2>
            <p class="lead">After mastering the skill of archery on a deserted island, multi-millionaire playboy Oliver
                Queen returns to his city to take on the vigilante persona of Arrow to fight crime and corruption.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/once_upon_a_time" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ndl1W4ltcmg"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">5. The Witcher</h2>
            <p class="lead">The witcher Geralt, a mutated monster hunter, struggles to find his place in a world in
                which people often prove more wicked than beasts.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_witcher" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2tzqwuIqRc4"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">6. Doctor Who</h2>
            <p class="lead">The Doctor, a mysterious 2,000-year-old time-travelling figure, and his companions journey
                across time and space in a ship known as TARDIS.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/doctor_who" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KTu8iDynwNc"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">7. Lost</h2>
            <p class="lead">The survivors of a plane crash find themselves stranded on a mysterious island. They are
                forced to work together for their survival when they realise that they are not alone on the island.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/lost" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T3T-evQZiQo"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">8. Marvel's Agents of S.H.I.E.L.D.</h2>
            <p class="lead">Agent Phil Coulson leads a team of highly skilled agents from the global law-enforcement
                organisation known as S.H.I.E.L.D. Together, they combat extraordinary and inexplicable threats.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/marvels_agents_of_shield"
                    role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oWnYtyNKPsA"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">9. Star Trek: Discovery </h2>
            <p class="lead">Michael Burnham and her companions in the USS Discovery travel into the far reaches of space
                to meet new lifeforms and discover new planets.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/star_trek_discovery"
                    role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9VBTcDF1eVQ"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">10. Battlestar Galactica</h2>
            <p class="lead">A group of humans aboard a battleship, Battlestar Galactica, are forced to abandon their
                planet after being attacked by Cylons. They try to evade the Cylons while searching for their true home,
                Earth
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/battlestar-galactica"
                    role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

{% endblock body %}