{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jz1omRneAGg"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">1. The Office</h2>
            <p class="lead">A motley group of office workers go through hilarious misadventures at the Scranton,
                Pennsylvania, branch of the Dunder Mifflin Paper Company.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_office" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Vm4tx1O9GAc"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">2. Silicon Valley</h2>
            <p class="lead">Richard, a programmer, creates an app called the Pied Piper and tries to get investors
                for it. Meanwhile, five other programmers struggle to make their mark in Silicon Valley.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/silicon_valley" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featuretee-header">

</div>
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Hl4bOuGNMwo"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">3. Unbreakable Kimmy Schmidt</h2>
            <p class="lead">Rescued after 15 years in a cult, Kimmy Schmidt decides to reclaim her life by venturing to
                New York, where she experiences everyday life with wide-eyed enthusiasm. On a whim, she rents a room
                from Titus, a gay wannabe Broadway actor, who makes ends meet as a street performer in Times Square. The
                unlikely pair find they're well-suited to help each other out, with Titus reintroducing Kimmy to modern
                life, and her providing him with the inspiration that you should never give up. Together they'll make it
                through whatever life throws at them.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/unbreakable_kimmy_schmidt"
                    role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5IZWeAwdJ-s"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">4. Parks and Recreation</h2>
            <p class="lead">Leslie Knope, a mid-level bureaucrat, wishes to help a local nurse, Ann, convert a disused
                construction site into a community park but deals with red-tapism and self-centred neighbours.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/parks_and_recreation"
                    role="button">View details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I2HoCG_iyhU"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">5. Veep</h2>
            <p class="lead">Former Senator Selina Meyer gets an opportunity to serve as the Vice President of the United
                States. She tries to prevent various political uproars while juggling her public as well as private
                life.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/veep" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SHvzX2pl2ec"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">6. Friends</h2>
            <p class="lead">Follow the lives of six reckless adults living in Manhattan, as they indulge in
                adventures which make their lives both troublesome and happening.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/friends" role="button">View details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SOsbYJ4CfTA"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">7. Seinfeld</h2>
            <p class="lead">Stand-up comedian Jerry Seinfeld wrestles with life's most perplexing yet trivial questions
                with his eccentric friends George, Elaine and Kramer.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/seinfeld" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/icTOP9F17pU"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">8. Brooklyn Nine-Nine</h2>
            <p class="lead">Ray Holt, an eccentric commanding officer, and his diverse and quirky team of odd detectives
                solve crimes in Brooklyn, New York City.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/brooklyn_nine_nine"
                    role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W0uWS6CnC2o"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">9. Schitt's Creek</h2>
            <p class="lead">A married couple suddenly go bankrupt and the only remaining asset they have is an ugly
                small town named Schitt's Creek.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/schitts_creek" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aogZUDx51vQ"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">10. Modern Family</h2>
            <p class="lead">Three modern-day families from California try to deal with their kids, quirky spouses and
                jobs in their own unique ways, often falling into hilarious situations.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/modern_family"
                    role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

{% endblock body %}