{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7n_1JZgDPf4"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">1. Planet Earth </h2>
            <p class="lead">Dazzling, state-of-the-art high-definition imagery highlights this breathtaking documentary
                series featuring footage of some of the world's most awe-inspiring natural wonders -- from the oceans to
                the deserts to the polar ice caps. Actress Sigourney Weaver narrates this American version of the
                original BBC production.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/planet_earth" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_erVOAbz420"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">2. Cosmos: Possible Worlds</h2>
            <p class="lead">Cosmos: A Spacetime Odyssey is a 2014 American science documentary television series. The
                show is a follow-up to the 1980 television series Cosmos: A Personal Voyage, which was presented by Carl
                Sagan on the Public Broadcasting Service and is considered a milestone for scientific documentaries.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/cosmos_a_spacetime_odyssey"
                    role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featuretee-header">

</div>
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/c8aFcHFu8QM"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">3. Planet Earth II </h2>
            <p class="lead">From the frozen tundra in the north to the dry forests of the equator, Sir David
                Attenborough narrates a compelling view of the planet. "Planet Earth" was the first natural history
                documentary to be filmed in high definition, and now a decade later improved technology has made it
                possible to capture further details, from elusive animal behaviors to previously inaccessible remote
                landscapes. In addition to exploring the wilderness, the series examines urban dwellings, focusing on
                animals that have adapted to city life.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/planet_earth_ii" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qxgbdYaR_KQ"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">4. Making a Murderer </h2>
            <p class="lead">Filmed over a 10-year period, Steven Avery, a DNA exoneree who, while in the midst of
                exposing corruption in local law enforcement, finds himself the prime suspect in a grisly new crime.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/making_a_murderer"
                    role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/acTdxsoa428"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">5. Tiger King</h2>
            <p class="lead">An exploration of big cat breeding and its bizarre underworld, populated by eccentric
                characters.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/tiger_king" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IBws4yj7W1A"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">6. Life</h2>
            <p class="lead">Our planet is teeming with myriad life forms, both plant and animal, all interlocked in a
                struggle for survival. As time goes on, some living things are forced to adapt and change to survive.
                This programme chronicles some of the most unusual, if not downright bizarre, behaviors that living
                organisms have devised to keep their species alive. The 11-episode series was four years in the making,
                taking camera crews to every continent and habitat.
            </p>
            <p><a class="btn btn-secondary" href="https://www.imdb.com/title/tt1533395/" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x41SMm-9-i4"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">7. Don't F**k With Cats: Hunting an Internet Killer </h2>
            <p class="lead">A twisted criminal's gruesome videos drive a group of amateur online sleuths to launch a
                risky manhunt that brings them into a dark underworld</p>
            <p><a class="btn btn-secondary"
                    href="https://www.rottentomatoes.com/tv/dont_f_k_with_cats_hunting_an_internet_killer"
                    role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kAphgHhlteM"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">8. Blue Planet II </h2>
            <p class="lead">A follow-up to the 2001 award-winning show "The Blue Planet," this natural history series
                sees Sir David Attenborough return as narrator and host. A breathtaking exploration of the world's vast
                oceans, hourlong episodes capture animals and other living organisms in their natural habitat,
                presenting viewers with a fascinating insight into what life is like underwater. From tropical seas to
                the harsh conditions of the Arctic, the makers of "Blue Planet II" use modern filming equipment and
                techniques to shine a light on areas of the planet that humans have never seen before.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/blue_planet_ii" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aETNYyrqNYE"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">9. Our Planet</h2>
            <p class="lead">Experiencing the planet's natural beauty through an examination of how climate change
                impacts all living creatures in this ambitious documentary of spectacular scope.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/our_planet" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hBLS_OM6Puk"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">10. Wild Wild Country </h2>
            <p class="lead">When a controversial guru builds a utopian city in the Oregon desert, it causes a massive
                conflict with local ranchers. This docuseries chronicles the conflict, which leads to the first
                bioterror attack in the United States and a massive case of illegal wiretapping. It is a pivotal, but
                largely forgotten, time in American cultural history that tested the country's tolerance for the
                separation of church and state. Brothers Mark and Jay Duplass serve as executive producers on the
                series.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/wild_wild_country"
                    role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

{% endblock body %}