{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xCwwxNbtK6Y"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">1. Cobra Kai </h2>
            <p class="lead">Thirty four years after events of the 1984 All Valley Karate Tournament, a down-and-out
                Johnny Lawrence seeks redemption by reopening the infamous Cobra Kai dojo, reigniting his rivalry with a
                now successful Daniel LaRusso.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/cobra_kai" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OzYxJV_rmE8"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">2. Succession</h2>
            <p class="lead">The Logan family is known for controlling the biggest media and entertainment company in the
                world. However, their world changes when their father steps down from the company.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/succession" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featuretee-header">

</div>
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HN4oydykJFc"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">3. Better Call Saul </h2>
            <p class="lead">Ex-con artist Jimmy McGill turns into a small-time attorney and goes through a series of
                trials and tragedies, as he transforms into his alter ego Saul Goodman, a morally challenged criminal
                lawyer.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/better_call_saul" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5hAXVqrljbs"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">4. Ozark </h2>
            <p class="lead">A financial advisor drags his family from Chicago to the Missouri Ozarks, where he must
                launder money to appease a drug boss.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/ozark" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ziMUD0_TTg0"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">5. Euphoria</h2>
            <p class="lead">A look at life for a group of high school students as they grapple with issues of drugs, sex
                and violence.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/euphoria" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7RhBjI9dPe4 "
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">6. Watchmen</h2>
            <p class="lead">When masked vigilantes are treated as criminals by government agencies, some band together
                to start a mutiny while others aim to stop it before it yields chaos.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/watchmen" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HhesaQXLuRY"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">7. Breaking Bad </h2>
            <p class="lead">>Walter White, a chemistry teacher, discovers that he has cancer and decides to get into
                the
                meth-making business to repay his medical debts. His priorities begin to change when he partners
                with
                Jesse.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/breaking_bad" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bjqEWgDVPe0"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">8. Game Of Thrones </h2>
            <p class="lead">Nine noble families wage war against each other in order to gain control over the
                mythical
                land of Westeros. Meanwhile, a force is rising after millenniums and threatens the existence of
                living
                men.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/game-of-thrones" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BZ5OCIJVErw"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">9. Dark</h2>
            <p class="lead">When two children go missing in a small German town, its sinful past is exposed along
                with the double lives and fractured relationships that exist among four families as they search for
                the kids. The mystery-drama series introduces an intricate puzzle filled with twists that includes a
                web of curious characters, all of whom have a connection to the town's troubled history -- whether
                they know it or not. The story includes supernatural elements that tie back to the same town in
                1986.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/dark" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b9EkMc79ZSU"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">10. Stranger Things</h2>
            <p class="lead">In 1980s Indiana, a group of young friends witness supernatural forces and secret government
                exploits. As they search for answers, the children unravel a series of extraordinary mysteries
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/stranger_things"
                    role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

{% endblock body %}