{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/s9APLXM9Ei8"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">1. Chernobyl</h2>
            <p class="lead">In April 1986, the city of Chernobyl in the Soviet Union suffers one of the worst nuclear
                disasters in the history of mankind. Consequently, many heroes put their lives on the line to save
                Europe.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/chernobyl" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1j2sXLbzm9U"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">2. Vikings</h2>
            <p class="lead">Ragnar Lothbrok, a legendary Norse hero, is a mere farmer who rises up to become a fearless
                warrior and commander of the Viking tribes with the support of his equally ferocious family.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/vikings_2013" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featuretee-header">

</div>
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aH06LWZs-Ys"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">3. Band of Brothers </h2>
            <p class="lead">The story of Easy Company, 506th Regiment of the 101st Airborne Division from 1942 to the
                end of World War II. A collection of fifty portraits illustrated by archive footage and recounted in
                voice.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/band_of_brothers" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qRpqQsdU-dg"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">4. Boardwalk Empire </h2>
            <p class="lead">Enoch Thompson, the treasurer of Atlantic City, is friends with gangsters and politicians
                alike, resulting in the federal government taking special interest in him.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/boardwalk-empire" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3TzvNnk2p3Y"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">5. Rome</h2>
            <p class="lead">Lucius Vorenus and Titus Pullo, two ordinary Roman soldiers, turn into heroes after their
                feats in the arena. Their lives change as they witness the fall of a republic and the creation of an
                empire.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/rome" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JWtnJjn6ng0 "
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">6. The Crown</h2>
            <p class="lead">Netflix-original drama chronicles the life of Queen Elizabeth II (Claire Foy) from the 1940s
                to modern times. The series begins with an inside look at the early reign of the queen, who ascended the
                throne at age 25 after the death of her father, King George VI. As the decades pass, personal intrigues,
                romances, and political rivalries are revealed that played a big role in events that shaped the later
                years of the 20th century.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_crown" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nW4Dc-WqvJk"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">7. Deadwood </h2>
            <p class="lead">People flee to Deadwood, South Dakota, with the dream of getting rich. However, not everyone
                can survive the chaos and confusion the town has to offer due to the lack of law facilities.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/deadwood" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KyIrJeK2DKY"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">8. When They See Us </h2>
            <p class="lead">In 1989 a jogger was assaulted and raped in New York's
                Central
                Park,
                and
                five
                young
                people were subsequently charged with the crime. The quintet, labeled
                the
                Central
                Park
                Five,
                maintained its innocence and spent years fighting the convictions,
                hoping to
                be
                exonerated.
                This
                limited series spans a quarter of a century, from when the teens are
                first
                questioned
                about
                the
                incident in the spring of 1989, going through their exoneration in 2002
                and
                ultimately
                the
                settlement reached with the city of New York in 2014. The cast is full
                of
                Emmy
                nominees
                and
                winners,
                including Michael K. Williams, John Leguizamo, Felicity Huffman, and
                Blair
                Underwood.
                Oscar
                nominee
                and Emmy winner Ava DuVernay co-wrote and directed the four episodes.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/when_they_see_us" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WxPApTGWwas"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">9. The Last Kingdom</h2>
            <p class="lead">During their invasion of England, the Danes capture Uhtred, a young successor of Saxon
                earldom, and raise him as their own. Years later, Uhtred's loyalties are put to the test by the Danes.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_last_kingdom" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Peh9Yqf1GXc"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">10. The Last Dance </h2>
            <p class="lead">In the fall of 1997, Michael Jordan and the Chicago Bulls allowed a film crew to follow them
                as they went for their sixth NBA title in eight seasons. That resulted in a stunning portrait of one of
                the sport's most iconic athletes and a celebrated team. "The Last Dance" follows the Bulls' 1997-98
                season from start to finish, while also covering the rest of the chapters in Jordan's remarkable career.
                The 10-part docuseries follows the Jordan timeline from when he was an emerging star on his high school
                team to becoming a worldwide marketing force and cultural figure. The series takes its name from a
                phrase coined by then-Bulls coach Phil Jackson, who knew that the season would likely be the final run
                for the core members of that 1990s Bulls dynasty.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_last_dance" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

{% endblock body %}