{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m1lZWAwC5Bw"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">1. The Walking Dead</h2>
            <p class="lead">A group of survivors led by police officer Rick Grimes travel in search of a safe and secure
                home after a zombie apocalypse spreads across the USA.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_walking_dead" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b9EkMc79ZSU"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">2. Stranger Things</h2>
            <p class="lead">In 1980s Indiana, a group of young friends witness supernatural forces and secret government
                exploits. As they search for answers, the children unravel a series of extraordinary mysteries</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/stranger_things" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featuretee-header">

</div>
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t-775JyzDTk"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">3. Supernatural</h2>
            <p class="lead">Brothers Dean and Sam follow in their father's footsteps and set out to eliminate monsters,
                demons and other supernatural entities that exist on Earth.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/supernatural"
                    role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BmVmhjjkN4E"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">4. The Vampire Diaries</h2>
            <p class="lead">On her first day at high school, Elena meets Stefan and immediately feels a connection
                with him. However, what she does not know is that Stefan and his brother, Damon, are in fact
                vampires.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_vampire_diaries"
                    role="button">View details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/reP8VFF3KHU"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">5. American Horror Story</h2>
            <p class="lead">An anthology of stories consisting of a house with a deadly secret, a demented asylum, a
                witch coven, an unusual show, a hotel, a haunted farmhouse, a cult and an apocalypse.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/american_horror_story" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yzXglr5bc3w "
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">6. Fear the Walking Dead</h2>
            <p class="lead">A sign of the apocalypse has begun. Reports of a rapidly changing world for unknown reasons
                underscore this gritty drama, a prequel to AMC's uber-popular "Walking Dead." The story is told through
                the lens of high school guidance counsellor Madison Clark. The widowed mother is raising two children
                single-handedly and maintains a relationship with English teacher Travis Manawa, her apocalyptic
                partner. The challenge of blending their families is exacerbated by unforeseen chaos, and a necessary
                survival of the fittest takes hold.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/fear_the_walking_dead" role="button">View details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ce0RQq-rjPk"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">7. The Haunting Of Hill House</h2>
            <p class="lead">This modern reimagining of the Shirley Jackson novel follows siblings who, as children, grew
                up in what would go on to become the most famous haunted house in the country.. Now adults, they are
                forced back together in the face of tragedy and must finally confront the ghosts of their past. Some of
                those ghosts still lurk in their minds, while others may actually be stalking the shadows of Hill House.
                The ensemble cast includes Oscar winner Timothy Hutton, Carla Gugino and Henry Thomas. Mike Flanagan, a
                veteran of the horror genre, created the series.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_haunting_of_hill_house" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GXrDYboUnnw"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">8. The Originals</h2>
            <p class="lead">The Original family of vampires settle down in the city of New Orleans that they helped
                to construct several decades ago. They encounter old buddies and confront new foes.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_originals"
                    role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YFXHfEqMcis"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">9. Penny Dreadful</h2>
            <p class="lead">Vanessa Ives recruits Wild West showman Ethan Chandler, and big game hunter Sir Malcolm to
                track down a killer. However, they soon realise that they are up against a non-human entity.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/penny_dreadful" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sjMEyNtgwvc"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">10. Bates Motel</h2>
            <p class="lead">Norman Bates's life spins out of control when his mental health deteriorates. Meanwhile, his
                mother, Norma, tries to get him the help he needs and protects him from the people around them.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/bates-motel" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

{% endblock body %}