{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container-fluid px-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">1. Stranger Things
            </h2>
            <p class="lead">In 1980s Indiana, a group of young friends witness supernatural forces and secret government
                exploits. As they search for answers, the children unravel a series of extraordinary mysteries</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b9EkMc79ZSU"
                    allowfullscreen></iframe>
            </div>
            <img src="./static/img/4.jpg" class="img-fluid" style="margin-top: 15px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">2. The Umbrella Academy
            </h2>
            <p class="lead">On one day in 1989, 43 infants are inexplicably born to random, unconnected women who showed
                no signs of pregnancy the day before. Seven are adopted by billionaire industrialist Sir Reginald
                Hargreeves, who creates the Umbrella Academy and prepares his "children" to save the world. In their
                teenage years, though, the family fractures and the team disbands. Fast forward to the present time,
                when the six surviving members of the clan reunite upon the news of Hargreeves' passing. They work
                together to solve a mystery surrounding their father's death, but divergent personalities and abilities
                again pull the estranged family apart, and a global apocalypse is another imminent threat. The series is
                based on a collection of comics and graphic novels created and written by My Chemical Romance lead
                singer Gerard Way</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0DAmWHxeoKw"
                    allowfullscreen></iframe>
            </div>
            <img src="./static/img/umbrella1.jpg" class="img-fluid" style="margin-top: 15px;">
        </div>
    </div>

    <hr class="featurette-divider">


    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">3. Money Heist
            </h2>
            <p class="lead">A criminal mastermind who goes by "The Professor" has a plan to pull off the biggest
                heist in recorded history -- to print billions of euros in the Royal Mint of Spain. To help him
                carry out the ambitious plan, he recruits eight people with certain abilities and who have
                nothing
                to lose. The group of thieves take hostages to aid in their negotiations with the authorities,
                who
                strategize to come up with a way to capture The Professor. As more time elapses, the robbers
                prepare
                for a showdown with the police
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fvCdLmxnkj0"
                    allowfullscreen></iframe>
            </div>
            <img src="./static/img/money.jpg" class="img-fluid" style="margin-top: 15px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">4. YOU
            </h2>
            <p class="lead">What would you do for love? For a brilliant male bookstore manager who crosses paths
                with an
                aspiring female writer, this question is put to the test. A charming yet awkward crush becomes
                something
                even more sinister when the writer becomes the manager's obsession. Using social media and the
                internet,
                he uses every tool at his disposal to become close to her, even going so far as to remove any
                obstacle
                --including people -- that stands in his way of getting to her.</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ga1m0wjzscU"
                    allowfullscreen></iframe>
            </div>
            <img src="./static/img/you.jpg" class="img-fluid" style="margin-top: 15px;">
        </div>
    </div>

    <hr class="featurette-divder">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">5. Sex Education
            </h2>
            <p class="lead">Socially awkward high school student Otis may not have much experience in
                the
                lovemaking
                department, but he gets good guidance on the topic in his personal sex ed course --
                living
                with
                mom
                Jean, who is a sex therapist. Being surrounded by manuals, videos and tediously open
                conversations
                about sex, Otis has become a reluctant expert on the subject. When his classmates learn
                about
                his
                home life, Otis decides to use his insider knowledge to improve his status at school, so
                he
                teams
                with whip-smart bad girl Maeve to set up an underground sex therapy clinic to deal with
                their
                classmates' problems. But through his analysis of teenage sexuality, Otis realizes that
                he
                may
                need
                some therapy of his own.</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Hd2ldTR-WpI"
                    allowfullscreen></iframe>
            </div>
            <img src="./static/img/education.jpg" class="img-fluid" style="margin-top: 15px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">6. Our Planet
            </h2>
            <p class="lead">Experiencing the planet's natural beauty through an examination of how
                climate
                change
                impacts all living creatures in this ambitious documentary of spectacular scope.</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aETNYyrqNYE"
                    allowfullscreen></iframe>
            </div>
            <img src="./static/img/planet.jpg" class="img-fluid" style="margin-top: 15px;">
        </div>
    </div>

    <hr class="featuretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">7. Unbelievable
            </h2>
            <p class="lead">When a teen reports being raped, then recants her story, two female
                detectives
                follow
                evidence that could reveal the truth; based on a true story.</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QTIkUzkbzQk"
                    allowfullscreen></iframe>
            </div>
            <img src="./static/img/unbelievable.jpg" class="img-fluid" style="margin-top: 15px;">
        </div>
    </div>

    <hr class="featuretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">8. Dead To Me
            </h2>
            <p class="lead">Jen's husband recently died in a hit-and-run, and the sardonic widow
                is
                determined
                to
                solve
                the crime. Optimistic free spirit Judy has recently suffered a tragic loss of
                her
                own.
                The
                ladies
                meet
                at a support group and, despite their polar-opposite personalities, become
                unlikely
                friends.
                As
                the
                women bond over bottles of wine and a shared affinity for "The Facts of Life,"
                Judy
                tries to
                shield
                Jen
                from a shocking secret that could destroy her life as she knows it. The dark
                comedy
                --
                which
                explores
                the weirdly funny sides of grief, loss and forgiveness -- features a cast that
                includes
                TV
                veterans
                Christina Applegate and Ed Asner.</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BwYBw1raC2o"
                    allowfullscreen></iframe>
            </div>
            <img src="./static/img/dead.jpg" class="img-fluid" style="margin-top: 15px;">
        </div>
    </div>

    <hr class="featuretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">9. When They See Us
            </h2>
            <p class="lead">In 1989 a jogger was assaulted and raped in New York's
                Central
                Park,
                and
                five
                young
                people were subsequently charged with the crime. The quintet, labeled
                the
                Central
                Park
                Five,
                maintained its innocence and spent years fighting the convictions,
                hoping to
                be
                exonerated.
                This
                limited series spans a quarter of a century, from when the teens are
                first
                questioned
                about
                the
                incident in the spring of 1989, going through their exoneration in 2002
                and
                ultimately
                the
                settlement reached with the city of New York in 2014. The cast is full
                of
                Emmy
                nominees
                and
                winners,
                including Michael K. Williams, John Leguizamo, Felicity Huffman, and
                Blair
                Underwood.
                Oscar
                nominee
                and Emmy winner Ava DuVernay co-wrote and directed the four episodes.</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KyIrJeK2DKY"
                    allowfullscreen></iframe>
            </div>
            <img src="./static/img/when.jpg" class="img-fluid" style="margin-top: 15px;">
        </div>
    </div>

    <hr class="featuretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">10. Elite
            </h2>
            <p class="lead">When three working-class teens enroll in an exclusive
                private
                school
                in
                Spain,
                the
                clash
                between them and the wealthy students leads to murder.</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/F7GvNyZwXzc"
                    allowfullscreen></iframe>
            </div>
            <img src="./static/img/elite1.jpg" class="img-fluid" style="margin-top: 15px;">
        </div>
    </div>
</div>

<hr class="featuretee-divider">


{% endblock body %}