{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-md-7">
            <div id="center" class="text-center">
                <h2 class="featurette-heading">11. Marvel's Luke Cage
                </h2>
                <p class="lead">This gritty, action-packed drama follows the evolution of Luke Cage (Mike Colter), a man
                    with super strength and unbreakable skin caused by a sabotaged experiment. After a failed
                    relationship with fellow superhero Jessica Jones, Cage tries to rebuild a quiet life in Harlem, New
                    York --until he is pulled out of the shadows and forced into a battle for his city. Along the way,
                    Cage cannot avoid confronting his past, which he has worked hard to bury. "Marvel's Luke Cage" is
                    the third show in the Netflix-original Defenders series</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ORa4hPhGrpo"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">12. Marvel's Jessica Jones
                </h2>
                <p class="lead">This Netflix original chronicles the life of one of the darker Marvel characters, the
                    mysterious Jessica Jones. When a tragedy puts an end to her short-lived career as a superhero,
                    Jessica settles in New York City and opens her own detective agency, called Alias Investigations,
                    which seems to be called into cases involving people who have special abilities. Suffering from
                    post-traumatic stress syndrome, Jessica wants to do good, but her primary interest isn't in saving
                    the world, it's saving her apartment and getting through each day. Based on a graphic novel intended
                    for adults, this is not a superhero story for the kids.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nWHUjuJ8zxE"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">13. Quantico
                </h2>
                <p class="lead">A group of young FBI recruits travel to the Quantico base in Virginia to receive
                    training to become special agents. Unfortunately, some of them possess secrets unknown to others.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wJp-BZpVBPA"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">14. Game Of Thrones
                </h2>
                <p class="lead">Nine noble families wage war against each other in order to gain control over the
                    mythical land of Westeros. Meanwhile, a force is rising after millenniums and threatens the
                    existence of living men.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bjqEWgDVPe0"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">15. House of Cards
                </h2>
                <p class="lead">Frank Underwood is a Democrat appointed as the secretary of state. Along with his wife,
                    he sets out on a quest to seek revenge on the people who betrayed him while successfully rising to
                    supremacy.
                </p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8QnMmpfKWvo "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">16. Mr. Robot
                </h2>
                <p class="lead">Elliot, a cyber-security engineer suffering from anxiety, works for a corporation and
                    hacks felons by night. Panic strikes him after Mr Robot, a cryptic anarchist, recruits him to ruin
                    his company.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N6HGuJC--rk "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">17. Breaking Bad
                </h2>
                <p class="lead">Walter White, a chemistry teacher, discovers that he has cancer and decides to get into
                    the
                    meth-making business to repay his medical debts. His priorities begin to change when he partners
                    with
                    Jesse.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HhesaQXLuRY"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">18. Marvel's Agent Carter
                </h2>
                <p class="lead">Life changes for Peggy Carter after her boyfriend Steve Rogers is feared dead. Now she
                    leads a dual life by doing administrative work as well as working as a S.H.I.E.L.D. agent under
                    Howard Stark.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MRD5KVZMtGY"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">19. Narcos
                </h2>
                <p class="lead">Netflix chronicles the rise of the cocaine trade in Colombia and the gripping real-life
                    stories of drug kingpins of the late '80s in this raw, gritty original series. Also detailed are the
                    actions taken by law enforcement as they battle in the war on drugs, targeting notorious and
                    powerful figures that include drug lord Pablo Escobar. As efforts are made to control cocaine, one
                    of the world's most valuable commodities, the many entities involved -- legal, political, police,
                    military and civilian -- find themselves in conflict.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xl8zdCY-abw"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">20. Marvel's Cloak & Dagger
                </h2>
                <p class="lead">After the collapse of an oil rig, two runaway teenagers acquire superpowers and get into
                    trouble with a drug cartel. Things get even more complicated when they start falling for each other.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EvKaFHJcO3U"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="fetauretee-divider">


    <p style="text-align: center;">
        <span style="text-decoration: underline;"><a href="/recommend">1-10</a></span> |
        <span style="text-decoration: underline;">11-20</span>
        | <span style="text-decoration: underline;"><a href="/rec21-30">21-30</a></span>
        | <span style="text-decoration: underline;"><a href="/rec31-40">31-40</a></span>
        | <span style="text-decoration: underline;"><a href="/rec41-50">41-50</a></span>
        | <span style="text-decoration: underline;"><a href="/rec51-58">51-58</a></span>
</div>

{% endblock body %}