{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-md-7">
            <div id="center" class="text-center">
                <h2 class="featurette-heading">21. Chernobyl
                </h2>
                <p class="lead">In April 1986, the city of Chernobyl in the Soviet Union suffers one of the worst
                    nuclear disasters in the history of mankind. Consequently, many heroes put their lives on the line
                    to save Europe.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/s9APLXM9Ei8"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">22. Marvel's Runaways
                </h2>
                <p class="lead">A group of six teenagers in Los Angeles discover that their parents have a dark secret.
                    They unite to find a way to stop their parents from executing a terrible plan.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y-OJVwUG76k"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">23. Little Things
                </h2>
                <p class="lead">A cohabitating couple in their 20s navigates the ups and downs of work, modern-day
                    relationships and finding themselves in contemporary Mumbai.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vsK02DRlbjU "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">24. The Test: A New Era for Australia's Team
                </h2>
                <p class="lead">The Australian men's cricket team attempts to rebuild its reputation after being rocked
                    by the "sandpaper scandal" of 2018.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a9g8exCgVP4"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">25. Special OPS
                </h2>
                <p class="lead">Special Ops is an Indian espionage thriller series created by Neeraj Pandey for Disney+
                    Hotstar's label Hotstar Specials with Kay Kay Menon leading the cast. Neeraj Pandey along with
                    Shivam Nair directed the series along with Pandey's Friday Storytellers attached as a production
                    house.
                </p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GF0H5DZAE2g "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">26. The Stranger
                </h2>
                <p class="lead">A web of secrets sends family man Adam Price on a desperate quest to discover the truth
                    about the people closest to him.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fwUWlxAQj-o"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">27. Bates Motel
                </h2>
                <p class="lead">Norman Bates's life spins out of control when his mental health deteriorates. Meanwhile,
                    his mother, Norma, tries to get him the help he needs and protects him from the people around them.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sjMEyNtgwvc"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">28. 13 Reasons Why
                </h2>
                <p class="lead">Newcomer Katherine Langford plays the role of Hannah, a young woman who takes her own
                    life. Two weeks after her tragic death, a classmate named Clay finds a mysterious box on his porch.
                    Inside the box are recordings made by Hannah -- on whom Clay had a crush -- in which she explains
                    the 13 reasons why she chose to commit suicide. If Clay decides to listen to the recordings, he will
                    find out if and how he made the list. This intricate and heart-wrenching tale is told through Clay
                    and Hannah's dual narratives.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QkT-HIMSrRk"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">29. Downton Abbey
                </h2>
                <p class="lead">Robert Crawley risks losing the family estate after his heirs die in the Titanic. Soon,
                    the Crawleys are introduced to Matthew, the next heir in line, who resists the aristocratic way of
                    life.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EOM3y4P8TEM"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">30. Penny Dreadful
                </h2>
                <p class="lead">Vanessa Ives recruits Wild West showman Ethan Chandler, and big game hunter Sir Malcolm
                    to track down a killer. However, they soon realise that they are up against a non-human entity.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YFXHfEqMcis"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="fetauretee-divider">


    <p style="text-align: center;">
        <span style="text-decoration: underline;"><a href="/recommend">1-10</a></span> |
        <span style="text-decoration: underline;"><a href="/rec11-20">11-20</a></span>
        | <span style="text-decoration: underline;">21-30</span>
        | <span style="text-decoration: underline;"><a href="/rec31-40">31-40</a></span>
        | <span style="text-decoration: underline;"><a href="/rec41-50">41-50</a></span>
        | <span style="text-decoration: underline;"><a href="/rec51-58">51-58</a></span>
</div>

{% endblock body %}