{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-md-7">
            <div id="center" class="text-center">
                <h2 class="featurette-heading">31. Marvel's Agents of S.H.I.E.L.D.
                </h2>
                <p class="lead">Agent Phil Coulson leads a team of highly skilled agents from the global law-enforcement
                    organisation known as S.H.I.E.L.D. Together, they combat extraordinary and inexplicable threats.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T3T-evQZiQo"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">32. Unbelievable
                </h2>
                <p class="lead">When a teen reports being raped, then recants her story, two female
                    detectives
                    follow
                    evidence that could reveal the truth; based on a true story.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QTIkUzkbzQk"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">33. The Office
                </h2>
                <p class="lead">A motley group of office workers go through hilarious misadventures at the Scranton,
                    Pennsylvania, branch of the Dunder Mifflin Paper Company.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jz1omRneAGg"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">34. Silicon Valley
                </h2>
                <p class="lead">Richard, a programmer, creates an app called the Pied Piper and tries to get investors
                    for it. Meanwhile, five other programmers struggle to make their mark in Silicon Valley.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Vm4tx1O9GAc"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">35. Step Up: High Water
                </h2>
                <p class="lead">The series follows the students and faculty of "High Water, Atlanta’s most cutthroat
                    performing arts school. When twins Tal and Janelle relocate from Ohio, they find themselves thrust
                    into a world where every move is a test. As they attempt to navigate their new world— on and off the
                    dance floor— they’ll discover just how deep they’re willing to dig to realize their dreams and seize
                    their moment."
                </p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LS5ZSkHUqBQ "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">36. The Haunting of Hill House
                </h2>
                <p class="lead">This modern reimagining of the Shirley Jackson novel follows siblings who, as children,
                    grew up in what would go on to become the most famous haunted house in the country.. Now adults,
                    they are forced back together in the face of tragedy and must finally confront the ghosts of their
                    past. Some of those ghosts still lurk in their minds, while others may actually be stalking the
                    shadows of Hill House. The ensemble cast includes Oscar winner Timothy Hutton, Carla Gugino and
                    Henry Thomas. Mike Flanagan, a veteran of the horror genre, created the series.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ce0RQq-rjPk"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">37. Tom Clancy's Jack Ryan
                </h2>
                <p class="lead">Author Tom Clancy introduced the character of Jack Ryan in a series of books before Ryan
                    headed to the big screen in several films. Now the former U.S. Marine is featured in an episodic
                    series for the first time, with John Krasinski portraying Ryan in this Amazon original thriller that
                    centers on Ryan as an up-and-coming CIA analyst. He is thrust into a dangerous field assignment for
                    the first time and uncovers a pattern in terrorist communication. That launches him into the middle
                    of a dangerous gambit with a new breed of terrorism that threatens destruction on a global scale.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1KsyZF590NM"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">38. Mirzapur
                </h2>
                <p class="lead">Akhandanand Tripathi made millions exporting carpets and became the mafia boss of
                    Mirzapur. His son Munna, an unworthy, power-hungry heir, stops at nothing to continue his father's
                    legacy.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZNeGF-PvRHY"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">39. Stranger Things
                </h2>
                <p class="lead">In 1980s Indiana, a group of young friends witness supernatural forces and secret
                    government
                    exploits. As they search for answers, the children unravel a series of extraordinary mysteries
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b9EkMc79ZSU"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">40. Criminal Justice
                </h2>
                <p class="lead">Criminal Justice is an Indian series based on Criminal Justice by Peter Moffat, adapted
                    for India by Shridhar Raghavan streaming on Hotstar on its new label Hotstar Specials on 5 April
                    2019.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KPyNH7mZkGc"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="fetauretee-divider">


    <p style="text-align: center;">
        <span style="text-decoration: underline;"><a href="/recommend">1-10</a></span> |
        <span style="text-decoration: underline;"><a href="/rec11-20">11-20</a></span>
        | <span style="text-decoration: underline;"><a href="/rec21-30">21-30</a></span>
        | <span style="text-decoration: underline;">31-40</span>
        | <span style="text-decoration: underline;"><a href="/rec41-50">41-50</a></span>
        | <span style="text-decoration: underline;"><a href="/rec51-58">51-58</a></span>

</div>

{% endblock body %}