{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-md-7">
            <div id="center" class="text-center">
                <h2 class="featurette-heading">41. The Family Man
                </h2>
                <p class="lead">Srikant Tiwari is a middle-class man who also serves as a world-class spy. Srikant tries
                    to balance his familial responsibilities with the demands of the highly secretive special cell of
                    the National Intelligency Agency that he is working for.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XatRGut65VI"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">42. YOU
                </h2>
                <p class="lead">What would you do for love? For a brilliant male bookstore manager who crosses paths
                    with an
                    aspiring female writer, this question is put to the test. A charming yet awkward crush becomes
                    something
                    even more sinister when the writer becomes the manager's obsession. Using social media and the
                    internet,
                    he uses every tool at his disposal to become close to her, even going so far as to remove any
                    obstacle
                    --including people -- that stands in his way of getting to her.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ga1m0wjzscU"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">43. Black Mirror
                </h2>
                <p class="lead">In an abstrusely dystopian future, several individuals grapple with the manipulative
                    effects of cutting edge technology in their personal lives and behaviours.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nSDviEdvw4U"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">44. His Dark Materials
                </h2>
                <p class="lead">Lyra, a young orphan from an alternate world, stays with the scholars in a college in
                    Oxford. During a quest to find her missing friend, she discovers a secret that involves several
                    kidnappings.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/APduGe1eLVI"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">45. The Crown
                </h2>
                <p class="lead">Based on an award-winning play ("The Audience") by showrunner Peter Morgan, this lavish,
                    Netflix-original drama chronicles the life of Queen Elizabeth II (Claire Foy) from the 1940s to
                    modern times. The series begins with an inside look at the early reign of the queen, who ascended
                    the throne at age 25 after the death of her father, King George VI. As the decades pass, personal
                    intrigues, romances, and political rivalries are revealed that played a big role in events that
                    shaped the later years of the 20th century.
                </p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JWtnJjn6ng0 "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">46. Vikings
                </h2>
                <p class="lead">Ragnar Lothbrok, a legendary Norse hero, is a mere farmer who rises up to become a
                    fearless warrior and commander of the Viking tribes with the support of his equally ferocious
                    family.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1j2sXLbzm9U"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">47. Asur: Welcome to Your Dark Side
                </h2>
                <p class="lead">Set in the backdrop of the mystical city of Varanasi, Asur follows Nikhil Nair, a
                    forensic-expert-turned-teacher, who returns to his roots at the Central Bureau of Investigation, and
                    along with his former mentor Dhananjay Rajpoot, finds himself caught in a cat-and-mouse game with a
                    brutal serial killer.What follows is a blend of suspense, mythology and the murders of some
                    people totally unrelated.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LDirQBvwx7g"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">48. The Mandalorian
                </h2>
                <p class="lead">A lone gunfighter makes his way through the outer reaches of the galaxy, far from the
                    authority of the New Republic.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aOC8E8z_ifw"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">49. Money Heist
                </h2>
                <p class="lead">A criminal mastermind who goes by "The Professor" has a plan to pull off the biggest
                    heist in recorded history -- to print billions of euros in the Royal Mint of Spain. To help him
                    carry out the ambitious plan, he recruits eight people with certain abilities and who have
                    nothing
                    to lose. The group of thieves take hostages to aid in their negotiations with the authorities,
                    who
                    strategize to come up with a way to capture The Professor. As more time elapses, the robbers
                    prepare
                    for a showdown with the police
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fvCdLmxnkj0"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">50. Better Call Saul
                </h2>
                <p class="lead">Ex-con artist Jimmy McGill turns into a small-time attorney and goes through a series of
                    trials and tragedies, as he transforms into his alter ego Saul Goodman, a morally challenged
                    criminal lawyer.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HN4oydykJFc "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="fetauretee-divider">

    <p style="text-align: center;">
        <span style="text-decoration: underline;"><a href="/recommend">1-10</a></span> |
        <span style="text-decoration: underline;"><a href="/rec11-20">11-20</a></span>
        | <span style="text-decoration: underline;"><a href="/rec21-30">21-30</a></span>
        | <span style="text-decoration: underline;"><a href="/rec31-40">31-40</a></span>
        | <span style="text-decoration: underline;">41-50</span>
        | <span style="text-decoration: underline;"><a href="/rec51-58">51-58</a></span>
</div>
{% endblock body %}