{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-md-7">
            <div id="center" class="text-center">
                <h2 class="featurette-heading">51. Paatal Lok
                </h2>
                <p class="lead">A cynical inspector is tasked with investigating a high-profile case which leads him
                    into a dark realm of the underworld.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cNwWMW4mxO8"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">52. Succession
                </h2>
                <p class="lead">The Logan family is known for controlling the biggest media and entertainment company in
                    the world. However, their world changes when their father steps down from the company..</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OzYxJV_rmE8"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">53. Killing Eve
                </h2>
                <p class="lead">Eve's life as a spy is not adding up to what she had hoped it would be when she started.
                    She is a bored, very smart, MI5 security officer who is very desk-bound. Villanelle is a very
                    talented killer, mercurial in mood, who clings to the luxuries of her job. Eve and Villanelle go
                    head to head in a fierce game of cat and mouse, each woman equally obsessed with the other as Eve is
                    tasked with hunting down the psychopathic assassin. Sarah Barnett, BBCA president, says, " `Killing
                    Eve' stands out in a sea of scripted stories as refreshingly entertaining and great fun."
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-MBjBavIC9U"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">54. Wu Assassins
                </h2>
                <p class="lead">An unassuming San Francisco chef becomes the latest in a line of assassins chosen to
                    keep the mystical Wu powers out of the wrong hands.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3tXQMq967PY"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">55. Peaky Blinders
                </h2>
                <p class="lead">Tommy Shelby, a dangerous man, leads the Peaky Blinders, a gang based in Birmingham.
                    Soon, Chester Campbell, an inspector, decides to nab him and put an end to the criminal activities.
                </p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oVzVdvGIC7U "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">56. Chilling Adventures of Sabrina
                </h2>
                <p class="lead">This adaptation of the "Sabrina the Teenage Witch" tale is a dark coming-of-age story
                    that traffics in horror and the occult. In the reimagined origin story, Sabrina Spellman wrestles to
                    reconcile her dual nature -- half-witch, half-mortal -- while standing against the evil forces that
                    threaten her, her family -- including aunts Hilda and Zelda -- and the daylight world humans
                    inhabit. Kiernan Shipka ("Mad Men") leads the cast in the titular role of the show that is based on
                    a comic series of the same name.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ybKUX6thF8Q"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">57. Dark
                </h2>
                <p class="lead">When two children go missing in a small German town, its sinful past is exposed along
                    with the double lives and fractured relationships that exist among four families as they search for
                    the kids. The mystery-drama series introduces an intricate puzzle filled with twists that includes a
                    web of curious characters, all of whom have a connection to the town's troubled history -- whether
                    they know it or not. The story includes supernatural elements that tie back to the same town in
                    1986. "Dark" represents the first German original series produced for Netflix.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BZ5OCIJVErw"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">58. The Americans
                </h2>
                <p class="lead">During the Cold War, two Russian spies, who are married to each other and have children,
                    pose as Americans while residing in Washington DC, in order to spy on the American government.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y4D96fPl_hI "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <p style="text-align: center;">
        <span style="text-decoration: underline;"><a href="/recommend">1-10</a></span> |
        <span style="text-decoration: underline;"><a href="/rec11-20">11-20</a></span>
        | <span style="text-decoration: underline;"><a href="/rec21-30">21-30</a></span>
        | <span style="text-decoration: underline;"><a href="/rec31-40">31-40</a></span>
        | <span style="text-decoration: underline;"><a href="/rec41-50">41-50</a></span>
        | <span style="text-decoration: underline;">51-58</span>
</div>
{% endblock body %}