{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-md-7">
            <div id="center" class="text-center">
                <h2 class="featurette-heading">1. The Vampire Diaries
                </h2>
                <p class="lead">On her first day at high school, Elena meets Stefan and immediately feels a connection
                    with him. However, what she does not know is that Stefan and his brother, Damon, are in fact
                    vampires.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BmVmhjjkN4E"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">2. The Originals
                </h2>
                <p class="lead">The Original family of vampires settle down in the city of New Orleans that they helped
                    to construct several decades ago. They encounter old buddies and confront new foes.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GXrDYboUnnw"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">3. Legacies
                </h2>
                <p class="lead">Hope Mikaelson, the daughter of a werewolf and a vampire, attends the Salvatore School
                    for the Young and Gifted and learns to use and control her supernatural abilities.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xHHM5VTATJo"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">4. Suits
                </h2>
                <p class="lead">Mike Ross, a talented young college dropout, is hired as an associate by Harvey Specter,
                    one of New York's best lawyers. They must handle cases while keeping Mike's qualifications a secret.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/85z53bAebsI"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">5. 12 Monkeys
                </h2>
                <p class="lead">James, a scavenger in 2043, has to time travel back to 2015 to prevent the contagion of
                    a deadly plague. In order to do so, he has to destroy the Army of the 12 Monkeys who released the
                    virus.
                </p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wZNcVYqnCFw "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">6. Marvel's The Daredevil
                </h2>
                <p class="lead">Matt Murdock manages to overcome the challenges that he faces due to him being blind
                    since childhood and fights criminals as a lawyer and Daredevil.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jAy6NJ_D5vU "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">7. Marvel's The Punisher
                </h2>
                <p class="lead">After exacting revenge on the people responsible for the deaths of his wife and
                    children, Frank Castle uncovers a conspiracy that runs deeper than New York's criminal underworld.
                    Now known as the Punisher, he must dig deep into the conspiracy to discover the truth about
                    injustices that affect more than just him and his family. Assisting the vigilante in his quest to
                    fight criminals are best friend Billy Russo, who runs private military corporation Anvil, and former
                    NSA analyst Micro, who shares common enemies with Castle and helps him as part of a so-called
                    marriage of convenience.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/USN_L0r_zWA"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">8. Sacred Games
                </h2>
                <p class="lead">When police officer Sartaj Singh receives an anonymous tip about the location of
                    criminal overlord Ganesh Gaitonde, he embarks on a chase around Mumbai in what becomes a dangerous
                    cat-and-mouse game. Amidst the chaos, trappings of a corrupt underworld are revealed. After being
                    removed from the Gaitonde case, Singh begins his own investigation as he works to save Mumbai from
                    impending doom. Flashbacks reveal some of the crimes that Gaitonde has committed through the years.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RWpuZXhCEkQ"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">9. Bodyguard
                </h2>
                <p class="lead">War veteran David Budd finds work as a police sergeant with London's Metropolitan Police
                    Service, in the Royalty and Specialist Protection branch. He is assigned to protect the home
                    secretary, the Rt. Hon. Julia Montague MP, a controversial and ambitious politician who is described
                    as "the sociopath" by one of her aides, and who has plans to introduce invasive new surveillance
                    powers for security forces. Finding himself increasingly at odds with Montague's policies and
                    personality, and dealing with physical and psychological scars from his time serving in Afghanistan,
                    volatile Budd is torn between his beliefs and his duty to protect.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f1aWWNpaiIQ"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">10. Marvel's The Defenders
                </h2>
                <p class="lead">Four of Marvel's biggest heroes are each working individually but have one common goal
                    in mind -- to save New York City. Burdened with their own personal challenges, Matt Murdock
                    (Daredevil), Jessica Jones, Luke Cage and Danny Rand (Iron Fist) realize that they likely won't be
                    able to accomplish their goals working solo. That realization leads them to team up and form The
                    Defenders, a supergroup that is more equipped to save the Big Apple than the heroes would be if they
                    continued to work on their own.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MDfuDaUdw-Y"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="fetauretee-divider">

    <p style="text-align: center;">
        <span style="text-decoration: underline;">1-10</span> |
        <span style="text-decoration: underline;"><a href="/rec11-20">11-20</a></span>
        | <span style="text-decoration: underline;"><a href="/rec21-30">21-30</a></span>
        | <span style="text-decoration: underline;"><a href="/rec31-40">31-40</a></span>
        | <span style="text-decoration: underline;"><a href="/rec41-50">41-50</a></span>
        | <span style="text-decoration: underline;"><a href="/rec51-58">51-58</a></span>
</div>
{% endblock body %}