{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/06rueu_fh30"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">1. The Boys </h2>
            <p class="lead">A group of vigilantes sets out to take down corrupt superheroes who abuse their superpowers
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_boys_2019" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M9vp9lhZiqU"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">2. I Am Not Okay with This</h2>
            <p class="lead">A teenager navigates the complexities of high school, family and her sexuality while dealing
                with new superpowers; based on Charles Forsman's graphic novel.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/i_am_not_okay_with_this"
                    role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featuretee-header">

</div>
<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gGVwjpguRqc"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">3. Star Trek: Picard </h2>
            <p class="lead">Follow-up series to Star Trek: The Next Generation (1987) and Star Trek: Nemesis (2002) that
                centers on Jean-Luc Picard (Sir Patrick Stewart) in the next chapter of his life.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/star_trek_picard" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Yt89b5AcwY"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">4. Altered Carbon </h2>
            <p class="lead">Set in a future where consciousness is digitized and stored, a prisoner returns to life in a
                new body and must solve a mind-bending murder to win his freedom.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/altered_carbon" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t8klax373ds"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">5. Devs</h2>
            <p class="lead">Lily Chan, a computer engineer, suspects Amaya, a computing firm, of being involved in her
                boyfriend's disappearance. Resultantly, she sets out to investigate its CEO and find out the truth.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/devs" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9BqKiZhEFFw "
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">6. Westworld</h2>
            <p class="lead">In a futuristic Western-themed amusement park, Westworld, the visitors interact with
                automatons. However, all hell breaks loose when the robots begin malfunctioning.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/westworld" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-header">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aDrsItJ_HU4"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">7. The 100 </h2>
            <p class="lead">A nuclear conflict has decimated civilisation. A century later, a spaceship accommodating
                humanity's lone survivors dispatch 100 juvenile delinquents back to the Earth to determine its
                habitability.</p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_100" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aOC8E8z_ifw"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">8. The Mandalorian </h2>
            <p class="lead">A lone gunfighter makes his way through the outer reaches of the galaxy, far from the
                authority of the New Republic.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_mandalorian" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

<div class="container marketing" style="margin-top: 15px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T3T-evQZiQo"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">9. Agents of S.H.I.E.L.D.</h2>
            <p class="lead">Agent Phil Coulson leads a team of highly skilled agents from the global law-enforcement
                organisation known as S.H.I.E.L.D. Together, they combat extraordinary and inexplicable threats.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/marvel_s_agents_of_s_h_i_e_l_d_"
                    role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kQuTAPWJxNo"
                    allowfullscreen></iframe>
            </div>
            <h2 style="margin-top: 1rem;">10. The Expanse</h2>
            <p class="lead">A police detective in the asteroid belt, the first officer of an interplanetary ice
                freighter, and an earth-bound United Nations executive slowly discover a vast conspiracy that threatens
                the Earth's rebellious colony on the asteroid belt.
            </p>
            <p><a class="btn btn-secondary" href="https://www.rottentomatoes.com/tv/the_expanse" role="button">View
                    details
                    »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featuretee-divider">

{% endblock body %}