{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-md-7">
            <div id="center" class="text-center">
                <h2 class="featurette-heading">1. Breaking Bad
                </h2>
                <p class="lead">Walter White, a chemistry teacher, discovers that he has cancer and decides to get into
                    the
                    meth-making business to repay his medical debts. His priorities begin to change when he partners
                    with
                    Jesse.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HhesaQXLuRY"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">2. Game Of Thrones
                </h2>
                <p class="lead">Nine noble families wage war against each other in order to gain control over the
                    mythical
                    land of Westeros. Meanwhile, a force is rising after millenniums and threatens the existence of
                    living
                    men.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bjqEWgDVPe0"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">3. The Wire
                </h2>
                <p class="lead">In the city of Baltimore, Detective James McNulty and his team investigate crimes and
                    try
                    their best to solve the bridge that exists between the drug kingpins and the law enforcement
                    agencies.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9qK-VGjMr8g"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">4. Rick And Monty
                </h2>
                <p class="lead">After having been missing for nearly 20 years, Rick Sanchez suddenly arrives at daughter
                    Beth's doorstep to move in with her and her family. Although Beth welcomes Rick into her home, her
                    husband, Jerry, isn't as happy about the family reunion. Jerry is concerned about Rick, a
                    sociopathic
                    scientist, using the garage as his personal laboratory. In the lab, Rick works on a number of sci-fi
                    gadgets, some of which could be considered dangerous. But that's not all Rick does that concerns
                    Jerry.
                    He also goes on adventures across the universe that often involve his grandchildren, Morty and
                    Summer.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BFTSrbB2wII"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">5. Avatar: The Last Airbender
                </h2>
                <p class="lead">A young boy with the ability to manipulate natural elements wakes up from a
                    100-year-long
                    hibernation. He then sets off to use his mystical powers and save the world from destruction.
                </p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rz7EsOua-D4 "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">6. The Sopranos
                </h2>
                <p class="lead">Tony Soprano, an Italian-American mafia head based in New Jersey, struggles to manage
                    his
                    family and criminal life and confides his affairs to his psychiatrist Jennifer Melfi.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wrN2k3qGbVA "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">7. Sherlock
                </h2>
                <p class="lead">Dr Watson, a former army doctor, finds himself sharing a flat with Sherlock Holmes, an
                    eccentric individual with a knack for solving crimes. Together, they take on the most unusual cases.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xK7S9mrFWL4 "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">8. Fullmetal Alchemist: Brotherhood
                </h2>
                <p class="lead">Brothers Edward and Alphonse Elric search for the Philsopher's Stone, hoping to restore
                    their bodies, which were lost when they attempted to use their alchemy skills to resurrect their
                    deceased mother. Edward, who lost only limbs, joins the State Military, which gives him the freedom
                    to continue the search as he tries to restore his brother, whose soul is tethered to earth by a suit
                    of armor. However, Edward and Alphonse are not the only ones seeking the powerful stone. And as they
                    search, they learn of a plot to transmute the entire country for reasons they cannot comprehend.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gShZvoImZdc"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">9. True Detective
                </h2>
                <p class="lead">Police officers and detectives around the USA are forced to face dark secrets about
                    themselves and the people around them while investigating homicides.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fVQUcaO4AvE"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">10. Death Note
                </h2>
                <p class="lead">A high-school student discovers a supernatural notebook that grants its user the ability
                    to kill.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ELIKAYTDjNc"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="fetauretee-divider">

    <p style="text-align: center;">
        <span style="text-decoration: underline;">
            <a href="/top11-20">11-20</a>
        </span>
</div>


{% endblock body %}