{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-md-7">
            <div id="center" class="text-center">
                <h2 class="featurette-heading">11. Fargo
                </h2>
                <p class="lead">An anthology of stories where characters from different time periods, which are centred
                    around the town of Minnesota, get involved in murder, deception and criminal activities.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ldGBLmXaAP4"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">12. The Office
                </h2>
                <p class="lead">A motley group of office workers go through hilarious misadventures at the Scranton,
                    Pennsylvania, branch of the Dunder Mifflin Paper Company.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jz1omRneAGg"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">13. Friends
                </h2>
                <p class="lead">Follow the lives of six reckless adults living in Manhattan, as they indulge in
                    adventures which make their lives both troublesome and happening.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SHvzX2pl2ec"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">14. Dark
                </h2>
                <p class="lead">When two children go missing in a small German town, its sinful past is exposed along
                    with the double lives and fractured relationships that exist among four families as they search for
                    the kids. The mystery-drama series introduces an intricate puzzle filled with twists that includes a
                    web of curious characters, all of whom have a connection to the town's troubled history -- whether
                    they know it or not. The story includes supernatural elements that tie back to the same town in
                    1986. "Dark" represents the first German original series produced for Netflix.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BZ5OCIJVErw"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">15. Stranger Things
                </h2>
                <p class="lead">This thrilling Netflix original drama stars Golden Globe-winning actress Winona Ryder as
                    Joyce Byers, who lives in a small Indiana town in 1983 -- inspired by a time when tales of science
                    fiction captivated audiences. When Joyce's 12-year-old son, Will, goes missing, she launches a
                    terrifying investigation into his disappearance with local authorities. As they search for answers,
                    they unravel a series of extraordinary mysteries involving secret government experiments, unnerving
                    supernatural forces, and a very unusual little girl.
                </p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b9EkMc79ZSU "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">16. Narcos
                </h2>
                <p class="lead">Netflix chronicles the rise of the cocaine trade in Colombia and the gripping real-life
                    stories of drug kingpins of the late '80s in this raw, gritty original series. Also detailed are the
                    actions taken by law enforcement as they battle in the war on drugs, targeting notorious and
                    powerful figures that include drug lord Pablo Escobar. As efforts are made to control cocaine, one
                    of the world's most valuable commodities, the many entities involved -- legal, political, police,
                    military and civilian -- find themselves in conflict.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xl8zdCY-abw "
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">17. Peaky Blinders
                </h2>
                <p class="lead">Tommy Shelby, a dangerous man, leads the Peaky Blinders, a gang based in Birmingham.
                    Soon, Chester Campbell, an inspector, decides to nab him and put an end to the criminal activities.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oVzVdvGIC7U"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">18. Black Mirror
                </h2>
                <p class="lead">In an abstrusely dystopian future, several individuals grapple with the manipulative
                    effects of cutting edge technology in their personal lives and behaviours.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nSDviEdvw4U"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">19. It's Always Sunny in Philadelphia
                </h2>
                <p class="lead">A group of five selfish underachievers co-own a decrepit Irish bar and are involved in
                    various controversies. There is no unity among them as they constantly keep plotting against each
                    other.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XgAKMICbha0"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="fetauretee-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <h2 class="featurette-heading">20. Seinfeld
                </h2>
                <p class="lead">Stand-up comedian Jerry Seinfeld wrestles with life's most perplexing yet trivial
                    questions with his eccentric friends George, Elaine and Kramer.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SOsbYJ4CfTA"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="fetauretee-divider">

    <p style="text-align: center;">
        <span style="text-decoration: underline;">
            <a href="/top1-10">1-10</a>
        </span>
</div>


{% endblock body %}